*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  touch-action: manipulation;
}

html {
  line-height: 1.5;
  font-family: Arial;
  height: 100%;
}

h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

body {
  background-color: #121213;
  margin: 0;
  line-height: inherit;
  height: 100%;
}

button {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  text-transform: none;
}

main {
  height: calc(100% - 82px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #3a3a3c;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 3rem;
}

.header > h1 {
  color: white;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header > * {
  color: white;
  fill: white;
}

.header > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header > a:hover,
a:focus {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.tile-grid {
  margin: auto;
  display: grid;
  width: 350px;
  height: 420px;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  gap: 0.25rem;
}

.tile-row,
tile-row {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 0.25rem;
}

.tile-row > div,
tile-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  line-height: 2.5rem;
  border: #3a3a3c 2px solid;
  color: white;
  font-weight: 600;
}

@keyframes pop-tile {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    ransform: scale(1);
  }
}

.tile-row > div.letter-added {
  border-color: #767676;
  animation: pop-tile 0.075s ease-in-out;
}

.keyboard {
  max-width: 32rem;
  width: calc(100% - 16px);
}

.keyboard-row {
  display: flex;
  color: white;
  margin-bottom: 0.5rem;
  width: 100%;
  gap: 0.5rem;
}

.keyboard-row > button {
  border-radius: 4px;
  background-color: #818384;
  flex: 1;
  height: 58px;
  font-weight: bold;
  font-size: 14px;
}

.keyboard-row > button:hover {
  opacity: 0.85;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.keyboard-row > button:active {
  opacity: 0.85;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.keyboard-row #Enter,
#Backspace {
  flex: 1.5;
}

.keyboard-row #Backspace {
  display: grid;
  place-items: center;
}

.keyboard-row #Backspace > svg {
  fill: white;
  height: 24px;
}

.keyboard-row #Enter {
  font-size: 12px;
}

.toast {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: max-content;
  top: 100px;
  background-color: #e2e2e2;
  padding: 12px 16px;
  border-radius: 8px;
  transition: opacity 1s ease-out;
}

.toast > p {
  margin: 0;
  font-weight: bold;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
